<!DOCTYPE html>
<html>
<head>
  <title><%= @msg %></title>
</head>
<body>
<h3><%= @msg %></h3>

<script>
setTimeout(function(){
    if(window.opener == null){
      window.location = '<%= @url %>';
    }else{
      window.opener.location = '<%= @url %>';
      window.close();
    }
}, 10000);
</script>
</body>
</html>
